html,body {
  margin: 0;
  padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
  }
* {
    box-sizing: border-box;
}
#container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    height: 100%;
}
#title-bar{
    grid-row: 3/4;
}
#input{
    grid-row:4/5;
}
h3{
    display: flex;
    flex-direction: column;
}